<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
 		<link rel="stylesheet" href="css/main.css">
</head>
<body>

<header>
	<nav>
		<div class="container flex-cont-space-betwn">
			<ul>
				<li><a href="#">Главная</a></li>
				<li><a href="#">О компании</a></li>
				<li><a href="#">ССылка 1</a></li>
				<li><a href="#">ссылка 2</a></li>
				<li><a href="#">ссылка 3</a></li>
			</ul>
			<div class="header-btn-enter">
				<a href="#" class="custom-btn">
					<img src="img/header-ico-enter_btn.png" alt="">
					Вход
				</a>
			</div>
		</div>
	</nav>
	<div class="container flex-item-center header-cont-bottom">
		<div class="header-logo col-24">
			<img src="img/logo.png" alt="">
		</div>
		<div class="header-call_me-block">
			<div class="header-call_numbers">
				<span>+380 98 170 00 740</span>
				<span>+380 98 170 00 740</span>
			</div>
			<div class="header-call_btn">
				<a href="#" class="custom-btn">
					<img src="img/header-ico-call.png" alt="">
					Перезвонить мне
				</a>
			</div>
		</div>
		<div class="header-action-blocks">
			<a href="#" class="header-action-blocks_some">
				<div class="header-action-some_img">
					<img src="img/header-ico-comparison.png">
				</div>
				сравнение
			</a>
			<a href="#" class="header-action-blocks_some">
				<div class="header-action-some_img">
					<img src="img/header-ico-favorites.png">
				</div>
				избранное
			</a>
			<a href="#" class="header-action-blocks_some cart">
				<div class="header-action-some_img">
					<img src="img/header-ico-cart.png">
				</div>
				корзина
				<span class="count-cart">5</span>
			</a>
		</div>
	</div>
</header>